* {
  margin:0;
  border:0;
  border-spacing: 0;
  padding:0;
  text-decoration: none;
  list-style:none;
  font-family:"calibri", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-root {
  display: flex;
  justify-content: center;
  width: 100%;
}
